{% extends 'base.html' %}

{% block nav %}
<a class="btn btn-secondary" href="/signoff">Sign off</a>
<a class="btn btn-secondary" href="/ch_pass">Change password</a>
<a class="btn btn-secondary" href="/del_user">Delete this account</a>
{% endblock %}

{% block content %}
<form action="/link_add" method="POST" class="form-inline">
<input type="text" name="link" value="" class="form-control">&nbsp;
<input type="submit" class="btn btn-outline-success" value="Add link">
</form>
{% if links %}
{% for i in links %}
<li>{{i[0]}}</li>
{% endfor %}
{% endif %}

{% endblock %}